.App {
  margin: 0 auto;
  width:50%;
}
.star{
  color:yellow;
}
img{
  width:450px;
  height:300px;
  object-fit: cover;
  background: rgb(231, 229, 229);
}
.Shopstyle{
  width:100%;
  height:15rem;
  background-color: black;
  color: white;
  text-align: center;
  
}
.item{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap:2rem;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.foot{
  width:100%;
  height:100px;
  text-align: center;
  background-color: black;
  color: white;
  padding-top:3rem;
}
.list{
  display: inline;
}

@media (min-width:700px){
  .item{
    
    grid-template-columns: repeat(3,1fr);
    
  }
}

@media (min-width:1200px){
  .item{
    
    grid-template-columns: repeat(4,1fr);
  }
}